<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Product</title>
  </head>
  <body>
    <form action="/" method="post">
      <br />
      <div>
        <label for="name">Name</label><br />
        <input type="text" name="name" /><br />
      </div>
      <br />
      <br />
      <div>
        <label for="price">Price</label><br />
        <input type="number" name="price" /><br />
      </div>
      <br />
      <br />
      <div>
        <label for="description">Description</label><br />
        <!-- <input type="text" name="description"/><br /> -->
        <textarea name="description"></textarea>
      </div>
      <br />
      <br />
      <div>
        <label for="category">Category</label><br />
        <input type="text" name="category" /><br />
      </div>
      <br />
      <button type="submit">Add New Product</button>
    </form>
  </body>
</html>
